## cache
*.lnk
.ipynb_checkpoints/
*.pyc
__pycache__
/build/
/lign.egg-info/

## development environment
/.vscode/
/.rug/
/data/
/performance/mnist/
/performance/cifar/
/performance/cora/
/main.ipynb